<app-menu></app-menu>
<form (ngSubmit)="onEdit()" novalidated #f="ngForm">
  <div class="header-form">
    <h5>Editar Domicilio</h5>
</div>
  <div class="form-group">
    <label for="nombre_tecno">Direccion del domicilio:</label><br>
    <input type="text" class="form-group" id="nombre_tecno" name="nombre_tecno" [(ngModel)]="domi.direccion" required>
</div>

  <button class="btn btn-success btn-block" [disabled]="!f.valid">Agregar</button>
  <button class="btn btn-secondary btn-block" routerLink="/">Volver</button>
</form>