.container-100{
  flex-direction:row;
  justify-content: space-between;
  
}

i{
  margin: 15px;
}


.inner-container{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn{
  margin: 10px
}



textarea {
  font-size: 20px;
  width: 100%;
}