.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  flex-wrap: wrap;
}
i{
  margin:15px;
}

.encabezado{
  display: flex;
  justify-content: space-between;
}

.container-tecnology{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tecnologia-container--icon{
  display: flex;
  align-items: center;
  justify-content: space-around;
}