<div class="container-100 border border-3 componente">
    <div class="encabezado">
        <h4>Tecnologias</h4>
        <i class="fa-solid fa-plus fa-lg" *ngIf="permis" routerLink="/new-tecno"></i>
      </div>
  
<div class="container">

    <div class="container-tecnology" *ngFor="let person of persona.tecnologias; index as i">
        
       <circle-progress
       [subtitle]="person.nombre_tecno"
       [space]="10"
       [percent]="person.nivel"
       [radius]="100"
       [outerStrokeWidth]="16"
       [innerStrokeWidth]="8"
       [outerStrokeColor]="colorArray[i]"
       [innerStrokeColor]="'#00AA96'"
       [animation]="true"
       [animationDuration]="300"
       [subtitleFontSize]="'30'"
       ></circle-progress>
          <div class="tecnologia-container--icon" *ngIf="permis">
              <i class="fa-solid fa-pen-to-square fa-lg"  routerLink="/edit-tecno/{{person.id_tecno}}"></i>
              <i class="fa-solid fa-trash-can fa-lg" (click)="onDelete(person.id_tecno,i)"></i> 
          </div>
    </div>

 
</div>
</div>
