<div class="container-100 border border-3 componente">
  <div class="encabezado">
    <h4>Educacion</h4>
    <i class="fa-solid fa-plus fa-lg"></i>
  </div>
  <div class="educacion-container">
    <div class="educacion-container--text">
      <img src="" alt="Logo institucion educativa">
      <h5>Nombre institucion</h5>
      <p>titulo</p>
      <span>fecha inicio -</span><span> fecha finalizacion</span>
    </div>
    <div class="container--icon">
      <i class="fa-solid fa-pen-to-square fa-lg"></i>
      <i class="fa-solid fa-trash-can fa-lg"></i>      
    </div>
  </div>
</div>
