<div class="container-100 border border-3 componente">
 <div class="encabezado">
   <h4>Proyectos</h4>
   <i class="fa-solid fa-plus fa-lg"></i>
 </div>
  
  <div class="container-proyecto" *ngFor="let person of persona.proyectos; index as i">
    <div class="proyecto-container--text">
      <hr>
      <h5>
        <a [href]="person.link_proyecto">
          {{person.nombre_proyecto}}
        </a> 
      </h5>
      <p>{{person.descripcion}}</p>
      <span>Fecha activo: {{person.fecha_activo}}</span>
    </div>
    <div class="container--icon">
      <i class="fa-solid fa-pen-to-square fa-lg"></i>
      <i class="fa-solid fa-trash-can fa-lg"></i> 
    </div>
  </div>
  <hr>
</div>
