app-modal{
  position: sticky;
  top: 15px;
  z-index: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

.toogleOn{
  opacity: 0.5;
}

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  background-color: rgb(231, 228, 228);
}