<form class="form-group">
  <i class="fa-solid fa-rectangle-xmark fa-lg" (click)="clickClose()"></i>
  
  <div class="mb-3">
    <label for="username" class="form-label">Nombre de Usuario</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de Usuario" [(ngModel)]="username">
    
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="password">
  </div>
 
  <button type="submit" class="btn btn-primary" (click)="login()">Iniciar sesion</button>
  <button type="submit" class="btn btn-primary" (click)="loginOff()">Cerrar sesion</button>
</form>