<form>
  <i class="fa-solid fa-rectangle-xmark fa-lg" (click)="clickClose()"></i>
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre de Usuario</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre de Usuario">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
  </div>
 
  <button type="submit" class="btn btn-primary">Iniciar sesion</button>
</form>