<div class="container-100 border border-3">
  <nav class="navbar navbar-dark rounded-3">
    <span class="nombre">Mauricio Auat</span>
    <div class="icons">
      <a href="#">
        <i class="fa-brands fa-linkedin-in fa-2x icon-linkedin" >
        </i>
      </a>
      <a href="#">
        <i class="fa-brands fa-github fa-2x rounded-circle icon-github"></i>   
      </a>
      <button class="btn btn-outline-secondary">Login</button>
    </div>
  </nav>
  <img class="banner-header" src="https://c8.alamy.com/compes/2bn9n84/un-concepto-de-software-desarrollo-web-programacion-programacion-abstracta-2bn9n84.jpg" alt="fondo-header" >
  <app-data-personal style="height:80%;"></app-data-personal>
</div>