<div class="container-100 border border-3">
  <nav class="navbar navbar-dark rounded-3">
    <span class="nombre">Mauricio Auat</span>
    <div class="icons">
      <a href="#">
        <i class="fa-brands fa-linkedin-in fa-2x icon-linkedin" >
        </i>
      </a>
      <a href="#">
        <i class="fa-brands fa-github fa-2x rounded-circle icon-github"></i>   
      </a>
      <button class="btn btn-outline-secondary" data-bs-toogle="modal" data-bs-target="#exampleModal">Login</button> 
    </div>
  </nav>
  <img class="banner-header" src="https://cutewallpaper.org/21/hd-banner-background/HD-background-images-for-banner-hd-Background-Images-Hd-.jpg" alt="fondo-header" >
  <app-data-personal style="height:80%;" [persona]="persona"></app-data-personal>
  
</div>