<div class="container">
  <img class="f-perfil rounded-circle" src="{{persona.foto}}">
  <i class="fa-solid fa-pen-to-square fa-lg"></i>
  <form #form="ngForm" *ngIf="toogle==true">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
    <input type="text">
  </form>
  <div class="datos-personales-column1" *ngIf="toogle==false">
    <p>{{persona.nombre}} {{persona.apellido}}</p>
    <p>{{persona.doms[0].direccion}}</p>
    <p>{{persona.titulo}}</p>
    <p>{{persona.resumen}}</p>
 
    <div class="logos-column2">

    </div>
  </div>

</div>
